body {
    font-family: 'Courier New', Courier, monospace;
}

/* App */
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
    margin: 150px auto 80px;
}

.searchBar {
    font-family: inherit;
    margin-left: auto;
    margin-right: auto;
}

.searchInput {
    border-style: none;
    border-bottom: 1px black solid;
    height: 30px;
    font-family: inherit;
    font-size: 1em;
    width: 250px;
}


.searchBtn {
    background-color: white;
    border-radius: 5%;
    color: black;
    font-family: inherit;
    height: 30px;
    margin-left: 30px;
}

.searchBtn:hover {
    background-color: black;
    color: white;
}



/* Search Results */
.displayResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 80px;
    margin-top: 30px;
}




/* Result Box */
.ResultBox {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    width: 200px;
}

.resultImg {
    height: 150px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.imgTitle {
    background-color: rgba(250, 235, 215, 0.245);
    text-align: center;
    font-weight: bold;
}

.imgYear {
    background-color: rgba(250, 235, 215, 0.245);
    text-align: center;
}

/* Result Box: Modal */
.detailModal {
    align-items: center;
    background-color: rgb(29, 36, 35);
    color: white;
    display: flex;
    justify-content: center;
    margin: 150px 250px;
    padding: 30px 10px;
    width: 800px;
}

.detailImg {
    height: 300px;
    justify-content: center;
    margin-left: 10px;
    max-width: 500px;
}

.detailText {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.textBold {
    font-weight: bold;
}

.detailTitle {
    font-size: 30px;
    font-weight: bold;
}